@tailwind base;
@tailwind components;
@tailwind utilities;


.superBold {
  @apply font-bold;
  font-weight: 200px;
}





.scrollable-container {
  width: 300px;
  /* Adjust width as needed */
  height: 200px;
  /* Adjust height as needed */
  overflow: hidden;
  /* Hide any content overflowing the container */
}

.scrollable-content {
  width: 100%;
  padding-right: 15px;
  /* Adjust padding to prevent content from being cut off */
  overflow-y: scroll;
  /* Enable vertical scrolling */
  height: 100%;
  /* Occupy full height of container */
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for Webkit (Chrome, Safari, etc.) */


.expandable {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.expandable.show {
  max-height: 1000px; /* Choose a value larger than the expected content height */
  opacity: 1;
}


.ball {
  position: fixed;

  border-radius: 50%;
  /* transition: all 0.1s ease-out; */
}


