@tailwind base;
@tailwind components;
@tailwind utilities;

.superBold {
  @apply font-bold;
  font-weight: 200px;
}

.scrollable-container {
  width: 300px;
  /* Adjust width as needed */
  height: 200px;
  /* Adjust height as needed */
  overflow: hidden;
  /* Hide any content overflowing the container */
}

.scrollable-content {
  width: 100%;
  padding-right: 15px;
  /* Adjust padding to prevent content from being cut off */
  overflow-y: scroll;
  /* Enable vertical scrolling */
  height: 100%;
  /* Occupy full height of container */
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Webkit (Chrome, Safari, etc.) */

.expandable {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.expandable.show {
  max-height: 1000px; /* Choose a value larger than the expected content height */
  opacity: 1;
}

.ball {
  position: fixed;

  border-radius: 50%;
  transition: all 1s ease-out;
}

.move {
  transform: translateX(-1000px) translateY(-2000px);
}

.mytransition {
  transition: all 1s ease-out;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

/* .floatingWhatsapp {
  width: 100%;
  height: 100%;
  text-align: left;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
} */

.whatsappButton {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  background-color: #25d366;
  border-radius: 50%;
  user-select: none;
  box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 15%);
  z-index: 9998;
}

.whatsappButton:after {
  content: "";
  border-color: inherit;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 0 0 rgba(37, 211, 101, 0);
  animation: _pulse 1.2s infinite;
}

.whatsappButton svg {
  fill: #fff;
  padding: 0.5rem;
  width: 55px;
  height: 55px;
}

.twosec {
  transition: all 1.2s;
}
.bg0 {
  background-color: #e94772;
}

.bg1 {
  background-color: #5a87c5;
}

.bg2 {
  background-color: #219f89;
}

.x {
  height: 20px;
  width: 20px;
  transition: all 0.5s ease-out;
}
.y {
  height: 200px;
  width: 200px;
  transition: all 0.5s ease-out;
}

/* .neumorphism {
  transition: all 0.5s ease-out;
  border-radius: 50px;
}
.neumorphism:hover {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: -27px 27px 53px #bcbcbc, 27px -27px 53px #ffffff;
} */

.text-animation {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: 0.1em; /* Optional spacing adjustment */
  position: relative; /* Required for absolute positioning */
}

.text-animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Start from off-screen */
  width: 100%;
  height: 100%;
  background-color: inherit; /* Inherit background color */
  animation: typing 3s linear forwards; /* Animation duration and behavior */
}
@keyframes typing {
  from {
    left: -100%;
  } /* Start from off-screen */
  to {
    left: 0;
  } /* Reveal text from left to right */
}
